/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */






body {
	font: 18px/28px arila, sans-serif;
	background-color: #eaeaea;
	color: #333;
}

.container {
	width: 960px;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 20px;
	border-bottom: 10px solid mediumseagreen;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
	color: tomato;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header .right {
	float: right;
}

.header a {
	text-decoration: none;
	list-style: none;
	padding: 5px;
	color: orange;
}

.header a:hover {
	background-color: grey;
	color: white;
}

.main {
	text-align: justify;
	width: 600px;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

.main h1 {
	font-size: 20px;
	font-weight: bold;
}

.sidebar {
	text-align: justify;
	width: 300px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar h1 {
	font-size: 20px;
	font-weight: bold;
}

.footer {
	background-color: #999;
	color: #000;
	padding: 20px;
	text-align: center;
}


@media screen and (max-width: 480px) {
  body {
	font: 22px/32px arila, sans-serif;
  }

  .container {
  	width: 400px;
  }
  .header {
  	width: 400px;
  	border-bottom: none;
  	padding: 0;
  }

  .footer {
	width: 400px;
  	padding: 0;
  }

  .main {
	width: 400px;
	float: none;
  	padding: auto;
  }

  .sidebar {
	width: 400px;
	float: none;
  	padding: auto;
  }

  .header ul li {
  	display: block;
  	text-align: center;
  }

  .header .right {
  	float: none;
  	display: block;
  	text-align: center;
  }

  .judul {
  	text-align: center;
  }

  .header .judul {
  	font-size: 30px;
  	padding-top: 10px;
  }
}